.wrapper {
    margin: 0 12rem;
    padding: 0 .6rem;
}
.header {
    width: 100%;
    height: 60rem;
    background-size: cover;
    z-index: -1;
}

.header__navbar {
    padding: 2.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.header__navabr-logo {
width: 12.5rem;
height: 4rem;
}
.header__navbar-list {
width: 58rem;
display: flex;
justify-content: space-between;
list-style: none;
}
.header__navbar-item {
}
.header__navbar-item--text {
color: var(--white-color);
font-size: 1.6rem;
cursor: pointer;
}
.header__navbar-item--text:hover {
    color: rgb(195, 195, 195);
}
.header__navbar-btn {

}
.header__navbar-btn--logIn {
background-color: rgba(0, 0, 0, 0.155);
color: #3b81f6;
border: 0.2px solid var(--white-color);
}
.header__navbar-btn--logIn:hover {
    transform: translateY(-12%);
    cursor: pointer;
}
.header__navbar-btn--signUp {
   background-color: #5fa4f9;
   color: var(--white-color);
   border: none;
    margin-left: 0.6rem;
}
.header__navbar-btn--signUp:hover {
    transform: translateY(-12%);
    cursor: pointer;
}
.header__navbar-btn--logIn,
.header__navbar-btn--signUp {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius:4px ;
}
.header__navbar-item .home__box--hover {
    position: relative;
    cursor: pointer;
}

.home__box {
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:10%;
    left: 27%;
    animation: teleTop ease 0.4s;

    display: none;
}
.home__box::after {
    content: "";
    width: 100%;
    height: 2.1rem;
    position: absolute;
    top: -10%;
}
.header__navbar-item.home__box--hover:hover .home__box {
    display: block;
    transform: translateY(3%);

}
.home__box-item {
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.home__box-item span:hover {
    color: #b7b7b7;
}
.header__navbar-item .company__box-hover{
    position: relative;
    cursor: pointer;
}
.company__box{
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 50%;
    animation: teleTop ease 0.4s;

    display: none;
}
.company__box::after {
    content: "";
    width: 100%;
    height: 2.1rem;
    position: absolute;
    top: -9%;
}
.header__navbar-item.company__box-hover:hover .company__box {
    display: block;
    transform: translateY(3%);

}
.company__box-item{
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.company__box-item span:hover {
    color: #b7b7b7;
}
.header__navbar-item.blog__box-hover{
    position: relative;
    cursor: pointer;
}
.blog__box{
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 180%;
    left: -60%;
    animation: teleTop ease 0.4s;
    display: none;
}
.blog__box::after{
    content: "";
    width: 100%;
    height: 2.3rem;
    position: absolute;
    top: -13%;
}
.blog__box-item{
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.header__navbar-item.blog__box-hover:hover .blog__box {
    display: block;
    transform: translateY(3%);
}
.blog__box-item span:hover {
    color: #b7b7b7;

}
.header__intro {
display: flex;
flex-direction:column ;
align-items: center;
margin-top: 2rem;
}
.header__intro-header {
width: 55.2rem;
color: var(--white-color);
font-size: 5rem;
line-height: 6.8rem;
text-align: center;
}
.header__intro-header span {
color: #3b81f6;
}
.header__intro-btn {
margin-bottom: 10rem;
}
.header__intro-btn--left {
background-color: #3b81f6;
color: var(--white-color);
}
.header__intro-btn--right {
background-color: var(--white-color);
}
.header__intro-btn--left,
.header__intro-btn--right {
    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 8px;
    margin: 0 4px;

}
.header__intro-btn--left:hover,
.header__intro-btn--right:hover {
    transform: translateY(-5%);
    cursor: pointer;
}
.header__intro-slogan {
    width: 48rem;
    text-align: center;
    font-size: 1.8rem;
    color: #91a0b5;
    border-right: 2px solid rgba(255,255,255,.75);
    margin: 2.4rem 0 3.3rem 0;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}
.header__intro-slogan--name {
color: #3b81f6;

}
.header__intro-footer {


}
.header__intro-footer--img {
height: 2.8rem;
width: 6rem;
object-fit: contain;


}
/* container */
.container {
}
.container__intro.grid {
    padding: 9.6rem 0;
}

.container__intro-left{
margin-right: 2rem;
}
.container__intro-box {
width: 38rem;    
border: 0.1px solid #dedede;
box-shadow: 0 1px 1.125rem 0  rgba(0,0,0, 0.2);
text-align: center;
padding: 4rem 2.4rem 3.2rem;
}
.container__intro-box:first-child {
    margin-bottom: 2.6rem;

}
.container__intro-box:hover {
    transform: translateY(-5%);
    animation: teleTop2 ease 0.4s;
    cursor: pointer;

}

.container__intro-box--img{

}
.container__intro-box--title{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.6rem 0;

}
.container__intro-box--content{
line-height: 2rem;   
font-size: 1.6rem;
color: #91a0b5;
}
.container__intro-right{

}
.container__intro-firstHeader{
color: #2c67eb;
font-size: 1.2rem;
font-weight: 600;
background-color: #eef6ff;
width: 10rem;
text-align: center;
padding: 0.4rem;
border-radius: 20px;
margin-bottom: 1.6rem;
}
.container__intro-secondHeader{
font-size: 4rem;
line-height: 5rem;
font-weight: 600;
margin-bottom: 1.4rem;
}
.container__intro-list{
list-style: none;
}
.container__intro-item{
margin-bottom: 2.8rem;
display: flex;
align-items: center;
}
.container__intro-item--img{
object-fit: contain;
}
.container__intro-item--text{
margin-left: 1rem;
}
.container__intro-item--name{
font-size: 2rem;
font-weight: 600;
margin-bottom: 1rem;
line-height: 2.2em;
}
.container__intro-item--content{
font-size: 1.8rem;
color: #91a0b5;

}
/* container__dream */
.container__dream {
}
.container__dream-header {
}
.container__dream-header h1 {
padding-right:18rem ;
font-size: 4rem;
line-height: 5rem;
}
.container__dream-header h1 span {
color: #3b81f6;
}
.container__dream-header p {
font-size: 1.6rem;
line-height: 3rem;
padding-right: 8rem;
color: #91a0b5;

}
.container__dream-box {
margin-top: 6rem;
padding: 4.8rem;    
text-align: center;
background-color: var(--white-color);
box-shadow: 0 1px 1.125rem 0  rgba(0,0,0, 0.2);

}
.container__dream-box:hover {
    transform: translateY(-5%);
    animation: teleTop2 ease 0.4s;
    cursor: pointer;
}

.container__dream-box--img {
height: 14rem;
}
.container__dream-box--header {
    font-size: 2rem;
    font-weight: 600;
    margin: 1.6rem 0;
}
.container__dream-box--text {
    font-size: 1.6rem;
    color: #91a0b5;
    line-height: 2.6rem;

}
.container__dream-box--number{
margin-bottom: 2rem;    
font-size: 1.6rem;
font-weight: 600;    
background-color: #bedbfe;
color: #1d40af;
height: 4.5rem;
width: 4.5rem;
margin-left: 11rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}