.wrapper {
    margin: 0 12rem;
    padding: 0 .6rem;
}
.header {
    width: 100%;
    height: 60rem;
    background-size: cover;
    z-index: -1;
}

.header__navbar {
    padding: 2.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__navabr-logo {
width: 12.5rem;
height: 4rem;
}
.header__navbar-list {
width: 58rem;
display: flex;
justify-content: space-between;
list-style: none;
}
.header__navbar-item {
}
.header__navbar-item--text {
color: var(--white-color);
font-size: 1.6rem;
cursor: pointer;
}
.header__navbar-item--text:hover {
    color: rgb(195, 195, 195);
}
.header__navbar-btn {

}
.header__navbar-btn--logIn {
background-color: rgba(0, 0, 0, 0.155);
color: #3b81f6;
border: 0.2px solid var(--white-color);
}
.header__navbar-btn--logIn:hover {
    transform: translateY(-12%);
    cursor: pointer;
}
.header__navbar-btn--signUp {
   background-color: #5fa4f9;
   color: var(--white-color);
   border: none;
    margin-left: 0.6rem;
}
.header__navbar-btn--signUp:hover {
    transform: translateY(-12%);
    cursor: pointer;
}
.header__navbar-btn--logIn,
.header__navbar-btn--signUp {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius:4px ;
}
.header__navbar-item .home__box--hover {
    position: relative;
    cursor: pointer;
}

.home__box {
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:10%;
    left: 27%;
    animation: teleTop ease 0.4s;

    display: none;
}
.home__box::after {
    content: "";
    width: 100%;
    height: 2.1rem;
    position: absolute;
    top: -10%;
}
.header__navbar-item.home__box--hover:hover .home__box {
    display: block;
    transform: translateY(3%);

}
.home__box-item {
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.home__box-item span:hover {
    color: #b7b7b7;
}
.header__navbar-item .company__box-hover{
    position: relative;
    cursor: pointer;
}
.company__box{
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 50%;
    animation: teleTop ease 0.4s;

    display: none;
}
.company__box::after {
    content: "";
    width: 100%;
    height: 2.1rem;
    position: absolute;
    top: -9%;
}
.header__navbar-item.company__box-hover:hover .company__box {
    display: block;
    transform: translateY(3%);

}
.company__box-item{
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.company__box-item span:hover {
    color: #b7b7b7;
}
.header__navbar-item.blog__box-hover{
    position: relative;
    cursor: pointer;
}
.blog__box{
    width: 20rem;
    border-radius: 6px;
    background-color: var(--white-color);
    padding: 1.6rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 180%;
    left: -60%;
    animation: teleTop ease 0.4s;
    display: none;
}
.blog__box::after{
    content: "";
    width: 100%;
    height: 2.3rem;
    position: absolute;
    top: -13%;
}
.blog__box-item{
    padding: 0.8rem 2.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.header__navbar-item.blog__box-hover:hover .blog__box {
    display: block;
    transform: translateY(3%);
}
.blog__box-item span:hover {
    color: #b7b7b7;

}
.header__intro {
display: flex;
flex-direction:column ;
align-items: center;
}
.header__intro-header {
width: 55.2rem;
color: var(--white-color);
font-size: 5rem;
line-height: 6.8rem;
text-align: center;
}
.header__intro-header span {
color: #3b81f6;
}
.header__intro-btn {

}
.header__intro-btn--left {

}
.header__intro-btn--right {

}
.header__intro-footer {

}
.header__intro-footer--img {

}